# Linux
*~

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store

# VS Code
.vscode/

# Python
__pycache__/
*.pyc
**/__pycache__/
**/*.pyc
DevTools/gnss_viewer/.env

# mkdocs
venv/
site/
.calibration.json.lock
